@font-face {
    font-family: BebasNeue;
    src: url("/assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: RobotoSlab;
    src: url("/assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

* {
    font-family: RobotoSlab;
}

h1{
    font-family: BebasNeue;
    font-weight: lighter;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#user-input{
    width: 230px;
    border: 0px;
    border-bottom: black solid 1px;
    outline: 0px;
}

#addBtn{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 17px;
    background-color: rgb(231, 80, 20);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    height: 26px;
    width: 126px;
}

#addBtn:hover{
    background: rgba(197, 193, 193, 0.89);
    color: rgba(253, 85, 18, 0.89);
}

#ulContent{
    list-style-type: none;
    background: whitesmoke;
    box-shadow: rgba(133, 127, 127, 0.794) 2px 3px 10px 1px;
    margin-left: 72px;
    margin-right: 72px;
    height: 290px;
}

/* ul li:nth-child(odd){
    background: gray;
} */

li:hover {
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}